<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>demo_app_feb_4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1F254CBA1C63B11800D66D82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F254CD61C63B11800D66D82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F254CE11C63B11800D66D82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
